
/* MOBILE */
@media(max-width:786px){

    /* HEADER */

    header{
        background-color: #d7d9f9;
        width: 100%;
    }

.wh{
color: #fff !important;
}

header>nav>ul>li{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 2;
}

/* BANNER  */

.banner{
    background: linear-gradient(rgba(161, 242, 68, 0.8), rgba(125, 242, 63, 0.8)),url(../image/bgproject1.jpg);
    background-repeat: no-repeat; 
    height: 550px;
    object-fit: contain;  
    background-position: center;
    background-size: 100%;
}

section>div>img{
    object-fit: contain;
    width: 100%;
    height: 330px;
 }

 .mbct{padding: 10px;
    color: #fff;
    text-align: center;
 }
button{
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #e31de0;
    font-size: 20px;
    font-weight: 100px;
    border: #e31de0;
    border-radius: 100px;
}

/* WELCOME  */

.pd{
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.pd1{
    text-align: center;
    color: red;
    font-size: 30px;
    padding: 10px;
}

.head3{
    color: #ea28ea;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}


.blue{
    color: #3943cd;
    padding: 5px 10px;
}

.white{
    padding: 10px;
}

.wid{
    object-fit: contain;
}
img.clst {
    width: 63px;
    object-fit: cover;
  }

  .ic1{ padding: 10px;
    text-align: center;
    margin: -15px 10px;
    background-color: aqua;
}
.col3.im2.wid {
    padding: 20px;
}
.wid{
    height: auto;
    width: 100%;
}


.f40{
    font-size: 20px;
}

.pd1{
    padding: 1px 1px 20px 1px;
}

.im2>img{
   width: 100%;
   padding: 10px;
   
}

  
/* SECTION  */

.secblue{
    background-color: #1dc9e3;
    padding: 20px 10px 10px 10px;
    font-size:20px ;
    width: 100%;
    color: #ffffff;
}

.bs1{
   background-color: black;
   margin: 20px 30%;
   font-weight: 300;
}

/* SCREENSHOT */

.screenshot{
    object-fit: cover;
    width: 100%;
    padding: 20px;
}

.te{
    color: #a8a8a8;
    font-size: 20px;
    text-align: center;
}

/* PRICING */

.pdb{
    padding:  20px;
    background: #474fc9;

}

.prbox{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px; 
    background-color: #fff;
    height: 451px;
}

.price{
    padding: 10px;
    font-size: 25px;
    color: rgb(0, 136, 255);
    
}

.ptitle{   
    color: #3943cd !important;
    font-size: 30px;
    padding: 20px;
}

.pp{
    padding: 15px;
    color: #b6b6b6;
}


/* SUBSCRIBE  */

.skyblue{
    background: linear-gradient(rgba(225, 12, 244, 0.8), rgba(244, 12, 236, 0.8)),url(../image/subscribe.jpg);
    background-repeat: no-repeat;
    background: #ea28ea,url(../image/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 20px;
}

.sub{
    text-align: center;
    color: #fff !important;
}

.btcm{  
    color: #ffffff;
    /* background-color: #e31d1d; */
    
    font-weight: 100px;
    border: #e31d1d;
    border-radius: 100px;


}

.sp{
    color: #000 !important;
    font-size: 20px;
    letter-spacing: 2;
}

.sbt{
    font-size: 12px;
}

.bs{   
    margin-top: 20px;
    padding: 15px;
    color: #1dc9e3;
    background-color: #fff;   
    border: #1dc9e3;
    border-radius: 100px;
}

.in{
    color: #fff;
    text-align: center;
}

input{   
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    box-shadow: none;
    color: #ffffff;
    height: 40px;
    margin-bottom: 20px;
}

/* FOOTER */

.footp{
    color: #a8a8a8;
    font-size: 18px;
    text-align: center;
    }
    
    .plr>b{
        padding: 0px 10px;
    }

.fpd{
    background-color: black;
}

}

/* TAB */

@media(min-width:787px) and (max-width:1200px){

    /* HEADER  */

header>nav>ul>li.col1{ width: 10%;}

header>nav>ul>li.col5{ width: 35%;}
 
header>nav>ul>li{
    display: inline-block;
    padding: 20px 5px;
    font-size: 16px;
}

header>nav>ul>li>a{
    padding: 10px 5px;
    text-align: center !important;
    color: rgb(93, 86, 86);
    text-decoration: none;
}

.topic :nth-child(1){
    font-size: 30px;
    text-decoration: bold !important;
    color: rgb(65, 167, 235) !important;
    text-align: center !important;
}
    
/* BANNER  */

.banner{
    background: linear-gradient(rgba(156, 148, 222, 0.8), rgba(151, 143, 223, 0.8)),url(../images/banner.webp);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    background-size: 100%;
}

section.row{
    display: flex;
}

.banner-left{
    padding: 70px;
    object-fit: cover;
}

section>div>img{
   width: 100%;
   height: 300px;
}

.heading{  
    color: #ffffff;
    font-size: 52px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.bpara{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.5;
}


button{
    margin-top: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #e31de0;
    font-size: 20px;
    font-weight: 100px;
    border: #e31de0;
    border-radius: 100px;
}

/* WELCOME */

.center{
    font-size:52px ;
    width: 100%;
    display: flex;   
    justify-content: center;
}

.p10{
    padding: 10px;
}

section>div.tab{
    display: flex;
}

section>div.co6{
width: 40%;
}

.head3{
    color: white;
    font-size:40px;
    word-spacing: 2px;
}

.blue{   
    color: #5760e7;
}
.wid{
    width: 30%;
}
.white{
    color: #ffffff;
}

.f40{
    font-size: 20px;
}

.pd1{
    padding: 1px 1px 20px 1px;
}

.im2>img{
   width: 100%;
   padding: 10px;
   height: 180px;
}

.clb{
    padding: 5px;
    color: blue;
}

.clbl{
    padding: 5px;
    color: #ffffff;
}

.ic1{ 
    text-align: center;
    margin: -15px 10px;
    background-color: aqua;
}


.pd{
    padding:  30px;
    background-color: black;
}

/* SECTION  */

.secblue{
    background-color: #1dc9e3;
    padding: 100px;
    font-size:30px ;
    width: 100%;
    color: #ffffff;
}

.bs1{
   background-color: black;
   margin: 20px 40%;
   font-weight: 300;
   width: 200px;
}

/* SCREENSHOT */

.screenshot{
    width: 24.5%;
    padding: 20px;
}

.te{
    color: #a8a8a8;
    font-size: 20px;
    text-align: center;
}


/* PRICING */

.pdb{
    padding:  70px;
    background: #474fc9;

}

.prbox{
    text-align: center;
    width: 30%;
    padding: 10px;
    margin: 10px; 
    background-color: #fff;
    height: 451px;
}

.price{
    padding: 20px;
    font-size: 45px;
    color: rgb(0, 136, 255);
    font-weight: 400px;
}

.ptitle{   
    color: #3943cd !important;
    font-size: 30px;
    padding: 20px;
}

.pp{
    padding: 15px;
    color: #b6b6b6;
}


/* SUBSCRIBE  */

.skyblue{
    background: linear-gradient(rgba(225, 12, 244, 0.8), rgba(244, 12, 236, 0.8)),url(../image/subscribe.jpg);
    background-repeat: no-repeat;
    background: #ea28ea,url(../image/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 360px;
    padding: 70px;
}

.sub{
    text-align: center;
    color: #fff !important;
}

.sp{
    color: #fff !important;
    font-size: 40px;
    padding: 20px;
    letter-spacing: 2;
}

.pps{
    font-size: 20px;
}

.bs{   
    margin-top: 20px;
    padding: 15px;
    color: #1dc9e3;
    background-color: #fff;
    font-size: 15px;
    font-weight: 100px;
    border: #1dc9e3;
    border-radius: 100px;
}

.in{
    color: #fff;
    text-align: center;
}

input{   
    width: 30%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    box-shadow: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    margin-bottom: 20px;
}

/* FOOTER */

.footp{
    color: #a8a8a8;
    font-size: 20px;
    text-align: center;
    }
    
    .plr>b{
        padding: 0px 10px;
    }
    
.screenshot {
    height: 250px;}
}